        <link rel="stylesheet" href="./libs/select2/select2.min.css">
        <link rel="stylesheet" href="./libs/slick-1.8.1/slick.css">
        <link rel="stylesheet" href="./libs/slick-1.8.1/slick-theme.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />


        <script src="./libs/jquery-3.7.0.min.js"></script>
        <script src="./libs/select2/select2.min.js"></script>
        <script src="./libs/slick-1.8.1/slick.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
        <script src="https://api-maps.yandex.ru/2.1/?apikey=28517946-dbf1-42a5-9b36-08632da36a93&lang=ru_RU&"></script>


        <!-- <script src="js/vendor.js"></script> -->
        <script src="js/main.js"></script>
        </body>

        </html>