.accordion {
  padding: 120px 0
}
.accordion__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 40px
}
.accordion__wrap {
  padding: 30px;
  border-radius: 15px;
  border: 1px solid #e2e3e5
}
.accordion__item {
  padding: 30px 0
}
.accordion__item:first-child {
  padding: 0 0 30px
}
.accordion__item:last-child {
  padding: 30px 0 0
}
.accordion__item:not(:last-of-type) {
  border-bottom: 1px solid #e2e3e5
}
.accordion__head {
  display: flex;
  justify-content: space-between;
  cursor: pointer
}
.accordion__head_active .accordion__icon svg {
  transform: rotate(180deg)
}
.accordion__head-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 130%
}
.accordion__icon {
  margin-left: 10px
}
.accordion__icon svg {
  width: 24px;
  height: 24px;
  transition: .3s linear
}
.accordion__content {
  transition: .3s linear
}
.accordion__content.accordion__content_open {
  max-height: auto;
  margin-top: 20px
}
.accordion__content:not(.accordion__content_open) {
  max-height: 0;
  overflow: hidden;
  opacity: 0
}
@media (max-width:1024px) {
  .accordion {
    padding: 60px 0
  }
  .accordion__title {
    margin-bottom: 30px
  }
  .accordion__wrap {
    padding: 20px;
    border-radius: 10px
  }
  .accordion__item {
    padding: 20px 0
  }
  .accordion__item:first-child {
    padding: 0 0 20px
  }
  .accordion__item:last-child {
    padding: 20px 0 0
  }
}