.also__title {
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 24px
}
.also__list {
  -moz-column-count: 2;
  column-count: 2;
  -moz-column-gap: 20px;
  column-gap: 20px
}
.also__item {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: .28px;
  margin-bottom: 12px
}
.also__item:nth-of-type(4) {
  margin-bottom: 0
}
.also__item:nth-of-type(8) {
  margin-bottom: 0
}
.also__item:after {
  content: "";
  display: block;
  border-bottom: 1px dashed #e2e3e5;
  margin: 0 10px;
  flex: auto;
  order: 1
}
.also__item-text {
  color: #30b4ff
}
.also__item-numb {
  color: #404040;
  order: 2
}
.also__row {
  display: flex;
  flex-wrap: wrap;
  margin: -5px
}
.also__row-link {
  padding: 12px 20px;
  border-radius: 6px;
  border: 1px solid #ecf7ff;
  margin: 5px;
  font-size: 14px
}
.also__btn {
  margin-top: 24px;
  padding: 12px 20px
}
@media (max-width:1400px) {
  .also__list {
    -moz-column-count: 1;
    column-count: 1;
    -moz-column-gap: 0;
    column-gap: 0
  }
}
@media (max-width:992px) {
  .also__item:not(:nth-child(-n+4)) {
    display: none
  }
}
@media (max-width:479px) {
  .also__btn {
    width: 100%
  }
}
@media (max-width:1400px) and (min-width:993px) {
  .also__item:nth-of-type(4) {
    margin-bottom: 12px
  }
}