.analysis {
  padding: 0 0 30px
}
.analysis__wrap {
  padding: 30px;
  background-color: #f8f8f8;
  border: 1px solid #e2e3e5;
  border-radius: 15px
}
.analysis__row {
  display: flex;
  margin: 0 -15px
}
.analysis__item {
  margin: 0 15px
}
.analysis__item:first-of-type {
  width: 100%;
  max-width: 180px
}
.analysis__item:last-of-type {
  width: 100%;
  max-width: 1050px;
  display: flex;
  flex-wrap: wrap
}
.analysis__img {
  margin-bottom: 20px
}
.analysis__img img {
  width: 100%;
  border-radius: 8px
}
.analysis__item-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%
}
.analysis__item-btn svg {
  width: 18px;
  height: 18px;
  margin-right: 5px
}
.analysis__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: .01em
}
.analysis__center {
  margin-top: 25px
}
.analysis__text {
  font-size: 16px;
  line-height: 130%;
  margin: 20px 0
}
.analysis__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: .02em;
  transition: color .3s linear;
  color: #30b4ff
}
.analysis__link:hover:not(:active) {
  color: #038cdb
}
.analysis__link svg {
  width: 18px;
  height: 18px;
  stroke: #30b4ff
}
.analysis__left {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
  width: 85%
}
.analysis__left-pin {
  display: flex;
  align-items: center;
  margin: 5px;
  border: 1px solid #e2e3e5;
  border-radius: 6px;
  padding: 8px 12px;
  color: #404040;
  transition: background-color .3s linear
}
.analysis__left-pin svg {
  width: 16px;
  height: 16px;
  margin-right: 8px
}
.analysis__right {
  display: flex;
  align-items: center;
  margin-left: auto
}
.analysis__data {
  font-size: 12px;
  line-height: 130%;
  color: #c4c4c4;
  margin-right: 20px
}
.analysis__right-link svg {
  width: 24px;
  height: 24px
}
.analysis__bottom {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px
}
.analysis__content {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #30b4ff;
  transition: color .3s linear;
  margin-right: 24px
}
.analysis__content:hover:not(:active) {
  color: #038cdb
}
.analysis__content svg {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  stroke: #30b4ff
}
.analysis__price {
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: .02em;
  margin-right: 40px;
  margin-left: auto
}
@media (max-width:1024px) {
  .analysis__title {
    font-size: 24px
  }
  .analysis__center {
    order: 2;
    margin: 16px 0
  }
  .analysis__text {
    margin: 16px 0
  }
  .analysis__left {
    order: 3
  }
  .analysis__right {
    width: 100%;
    justify-content: space-between;
    order: 1px
  }
  .analysis__bottom {
    order: 4;
    flex-direction: column;
    align-items: flex-start;
    justify-content: initial
  }
  .analysis__order {
    display: flex;
    justify-content: space-between
  }
  .analysis__order-btn {
    order: 3;
    width: 100%;
    max-width: 225px
  }
  .analysis__content {
    order: 2;
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
    max-width: 225px;
    padding: 13px;
    justify-content: center;
    border: 1px solid currentColor;
    border-radius: 8px
  }
  .analysis__price {
    margin-right: 15px;
    order: 1;
    margin-left: 0;
    margin-bottom: 16px
  }
}
@media (max-width:900px) {
  .analysis__row {
    flex-wrap: wrap;
    margin: 0
  }
  .analysis__item {
    margin: 0
  }
  .analysis__item:last-of-type {
    margin: 15px 0 0
  }
}
@media (max-width:768px) {
  .analysis__wrap {
    padding: 20px;
    border-radius: 10px
  }
}
@media (max-width:540px) {
  .analysis__order {
    padding-top: 16px;
    flex-direction: column;
    border-top: 1px solid #e2e3e5;
    width: 100%
  }
}
@media (max-width:420px) {
  .analysis__order-btn {
    max-width: 100%
  }
  .analysis__content {
    min-width: 100%
  }
}
@media (max-width:400px) {
  .analysis__item:first-of-type {
    max-width: 100%;
    position: relative
  }
  .analysis__img {
    margin-bottom: 0
  }
  .analysis__item-btn {
    width: 90%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    border-color: transparent;
    z-index: 10
  }
}