.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 25px
}
.breadcrumbs__item {
  padding: 3px 0;
  font-size: 14px;
  line-height: 18px;
  color: #868686
}
.breadcrumbs__item:not(:last-child) {
  margin-right: 4px
}
.breadcrumbs__item:not(:last-child) a::after {
  content: "/";
  margin-left: 4px
}
.breadcrumbs__item a {
  display: flex;
  align-items: center;
  transition: color .3s linear;
  color: inherit
}
.breadcrumbs__item a:hover:not(:active) {
  color: #30b4ff
}
@media (max-width:1024px) {
  .breadcrumbs__list {
    padding-top: 8px;
    padding-bottom: 8px
  }
}