.btn {
  font-family: Commissioner,sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #fff;
  padding: 12px;
  background-color: #30b4ff;
  transition: background-color .3s linear,box-shadow .3s linear,color .3s linear;
  border-radius: 8px;
  border: 1px solid #30b4ff;
  text-align: center
}
.btn:hover:not(:active):not(.btn_empty) {
  background-color: #47bdff
}
.btn:focus {
  box-shadow: 0 0 0 .2rem rgba(38,143,255,.5)
}
.btn:focus:not(.btn_empty) {
  background-color: #0ea8ff;
  color: #fff
}
.btn:disabled {
  background: #d9dee0
}
.btn_empty {
  color: #30b4ff;
  background-color: #fff;
  border-color: currentColor
}
.btn_empty:hover:not(:active) {
  color: #47bdff
}
.btn_empty:disabled {
  background-color: #fff;
  color: #d9dee0
}