.buyer {
  padding: 60px 0
}
.buyer__main-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 40px
}
.buyer__grid {
  display: flex
}
.buyer__img {
  z-index: 1
}
.buyer__img img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.buyer__bottom {
  display: flex;
  margin: 0 -12px
}
.buyer__bottom .buyer__item.buyer__item_last {
  margin: 0 12px;
  width: calc(50% - 24px)
}
.buyer__item {
  position: relative;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  color: #fff
}
.buyer__item.buyer__item_first {
  max-width: 648px;
  height: 448px;
  background: linear-gradient(180deg,rgba(113,204,255,.4318102241) 0,#30b4ff 100%);
  overflow: hidden;
  margin-right: 24px
}
.buyer__item.buyer__item_first:hover img {
  transform: scale(1.1)
}
.buyer__item.buyer__item_first .buyer__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1
}
.buyer__item.buyer__item_first .buyer__img img {
  border-radius: 15px;
  height: 100%;
  width: 100%;
  transition: transform .3s linear
}
.buyer__item.buyer__item_first .buyer__title {
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: auto
}
.buyer__item.buyer__item_second {
  width: 100%;
  height: 212px;
  justify-content: space-between;
  background: #f8f8f8;
  margin-bottom: 24px;
  overflow: hidden
}
.buyer__item.buyer__item_second:hover img {
  transform: scale(1.1)
}
.buyer__item.buyer__item_second .buyer__text {
  color: #404040
}
.buyer__item.buyer__item_second .buyer__title {
  margin-bottom: 30px;
  color: #404040
}
.buyer__item.buyer__item_second .buyer__title br {
  display: none
}
.buyer__item.buyer__item_second .buyer__link {
  color: #404040
}
.buyer__item.buyer__item_second .buyer__link svg {
  stroke: #404040
}
.buyer__item.buyer__item_second .buyer__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0
}
.buyer__item.buyer__item_second .buyer__img img {
  width: 100%;
  transition: transform .3s linear
}
.buyer__item.buyer__item_last {
  background: radial-gradient(44.16% 53.82% at 17.31% 58.41%,#545454 0,#404040 100%);
  height: 212px
}
.buyer__item.buyer__item_last:hover {
  background: radial-gradient(44.16% 53.82% at 17.31% 58.41%,#494949 1.22%,#383838 100%,#353535 100%)
}
.buyer__item.buyer__item_last .buyer__title {
  text-align: left;
  color: #fff
}
.buyer__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: .02em
}
.buyer__text {
  font-size: 16px;
  line-height: 130%
}
.buyer__btn {
  margin-top: 30px;
  text-align: center
}
.buyer__link {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: .02em;
  color: #fff;
  margin: 0 0 auto auto
}
.buyer__link svg {
  width: 18px;
  height: 18px
}
@media (max-width:1200px) {
  .buyer__right {
    width: 50%
  }
  .buyer__title {
    font-size: 18px
  }
}
@media (max-width:1024px) {
  .buyer {
    padding: 30px 0
  }
  .buyer__main-title {
    margin-bottom: 30px
  }
  .buyer__item.buyer__item_first .buyer__title {
    font-size: 30px
  }
  .buyer__item.buyer__item_second .buyer__img {
    display: block
  }
  .buyer__item.buyer__item_second .buyer__img img {
    border-top-right-radius: 10px
  }
}
@media (max-width:991px) {
  .buyer__grid {
    display: block
  }
  .buyer__right {
    width: 100%
  }
  .buyer__bottom {
    margin: 0 -10px
  }
  .buyer__bottom .buyer__item.buyer__item_last {
    margin: 0 10px;
    width: calc(50% - 20px)
  }
  .buyer__item {
    padding: 20px;
    border-radius: 10px
  }
  .buyer__item.buyer__item_first {
    max-width: 100%;
    height: 360px;
    margin-right: 0;
    margin-bottom: 20px
  }
  .buyer__item.buyer__item_first .buyer__img img {
    border-radius: 10px
  }
  .buyer__item.buyer__item_first .buyer__title {
    font-size: 26px;
    margin-bottom: 16px
  }
  .buyer__item.buyer__item_second {
    height: 210px;
    margin-bottom: 20px
  }
  .buyer__item.buyer__item_second .buyer__title {
    margin-bottom: 16px
  }
  .buyer__item.buyer__item_second .buyer__title br {
    display: block
  }
  .buyer__item.buyer__item_second .buyer__img img {
    height: 62%
  }
  .buyer__item.buyer__item_last {
    height: 150px
  }
  .buyer__title {
    font-size: 20px
  }
  .buyer__btn {
    margin-top: 24px
  }
}
@media (max-width:768px) {
  .buyer__item.buyer__item_last {
    align-items: center;
    justify-content: baseline;
    height: 58px;
    padding: 20px 10px
  }
  .buyer__item.buyer__item_last .buyer__title {
    text-align: center;
    font-size: 16px
  }
  .buyer__item.buyer__item_last .buyer__title span {
    display: none;
    font-size: 20px
  }
  .buyer__item.buyer__item_last .buyer__link,
  .buyer__text br {
    display: none
  }
}
@media (max-width:1350px) and (min-width:769px) {
  .buyer__text br:last-of-type {
    display: block
  }
}