.cards {
  padding-bottom: 120px
}
.cards_pb {
  padding-bottom: 112px
}
.cards_modal {
  padding: 0
}
.cards__wrap {
  display: flex;
  flex-direction: column
}
.cards__wrap_second .cards__card:not(:last-of-type) {
  margin-bottom: 20px
}
.cards__card:not(:last-of-type) {
  margin-bottom: 24px
}
.cards__tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px
}
.cards__tab-list {
  display: flex;
  align-items: center;
  flex: auto
}
.cards__tab-btn {
  color: #404040;
  border-color: #30b4ff;
  transition: color .3s linear,background-color .3s linear
}
.cards__tab-btn:not(:last-child) {
  margin-right: 10px
}
.cards__tab-btn.cards__tab-btn_active {
  background-color: #30b4ff;
  color: #fff
}
.cards__tab-btn.cards__tab-btn_active:hover {
  color: #fff
}
.cards__tab-add {
  display: flex;
  align-items: center
}
.cards__tab-add svg {
  width: 18px;
  height: 18px;
  margin-right: 10px
}
@media (max-width:768px) {
  .cards {
    padding-bottom: 60px
  }
}
@media (max-width:500px) {
  .cards__tab-btn {
    width: 32%
  }
  .cards__tab-add {
    display: none
  }
}