.consultation {
  padding: 60px 0
}
.consultation__row {
  position: relative;
  padding: 30px;
  background: #404040;
  border-radius: 15px
}
.consultation__content {
  position: relative;
  z-index: 100;
  color: #fff;
  max-width: 630px
}
.consultation__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: .02em
}
.consultation__title br {
  display: none
}
.consultation__text {
  font-size: 16px;
  line-height: 130%;
  margin: 16px 0 24px
}
.consultation__text a {
  color: #fff;
  transition: text-decoration .3s linear;
  transition: text-decoration .3s linear,-webkit-text-decoration .3s linear
}
.consultation__text a:hover {
  text-decoration: underline
}
.consultation__text br {
  display: none
}
.consultation__btn {
  position: relative;
  z-index: 1000;
  color: #404040;
  border-color: #fff
}
.consultation__img {
  position: absolute;
  right: 0;
  bottom: 0
}
.consultation__img img {
  border-bottom-right-radius: 15px;
  -o-object-fit: contain;
  object-fit: contain;
  height: 100%
}
@media (max-width:1240px) {
  .consultation__title {
    font-size: 35px
  }
  .consultation__text br {
    display: block
  }
  .consultation__img {
    width: 440px
  }
}
@media (max-width:1024px) {
  .consultation {
    padding: 30px 0
  }
  .consultation__img {
    display: block;
    position: absolute;
    bottom: 40px;
    right: 0;
    z-index: 1;
    width: 250px;
    max-height: 290px
  }
}
@media (max-width:768px) {
  .consultation__row {
    padding: 20px;
    border-radius: 10px
  }
  .consultation__content {
    max-width: 400px
  }
  .consultation__title {
    font-size: 26px
  }
  .consultation__text {
    margin: 15px 0
  }
  .consultation__img img {
    border-bottom-right-radius: 10px
  }
}
@media (max-width:479px) {
  .consultation__title br {
    display: block
  }
  .consultation__btn {
    width: 100%
  }
}
@media (max-width:370px) {
  .consultation__img {
    opacity: .3;
    bottom: 50px
  }
}