.map {
  position: relative;
  margin-bottom: 24px
}
.map__container {
  height: 300px;
  overflow: hidden;
  border-radius: 15px
}
.map__btn {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  z-index: 100
}
.map__btn svg {
  width: 18px;
  height: 18px;
  margin-right: 10px
}
@media (max-width:1024px) {
  .map__container {
    border-radius: 10px
  }
}
@media (max-width:450px) {
  .map__btn {
    position: static;
    margin-top: 10px;
    width: 100%
  }
}