.news-block__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px
}
.news-block__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%
}
.news-block__head-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: .02em;
  color: #30b4ff;
  transition: color .3s linear,stroke .3s linear;
  margin-left: 24px
}
.news-block__head-link:hover {
  color: #47bdff
}
.news-block__head-link:hover svg {
  stroke: #47bdff
}
.news-block__head-link:active {
  color: #30b4ff
}
.news-block__head-link:active svg {
  stroke: #0ea8ff
}
.news-block__head-link svg {
  stroke: #30b4ff;
  width: 18px;
  height: 18px
}
.news-block__slider {
  display: flex;
  align-items: stretch;
  margin: 0 -12px
}
.news-block__slider .slick-track {
  display: flex;
  align-items: stretch;
  margin: 0
}
.news-block__slider.slick-initialized .slick-slide {
  height: initial;
  display: flex;
  flex-direction: column
}
.news-block__item {
  width: calc(25% - 24px);
  margin: 0 12px;
  border: 1px solid #e2e3e5;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  color: #404040
}
.news-block__item:not(:nth-child(-n+4)) {
  display: none
}
.news-block__img img {
  width: 100%;
  border-radius: 15px
}
.news-block__body {
  flex: auto;
  display: flex;
  flex-direction: column;
  padding: 20px 16px
}
.news-block__timer {
  display: flex;
  align-items: center
}
.news-block__timer svg {
  width: 16px;
  height: 16px
}
.news-block__timer span {
  font-size: 14px;
  line-height: 130%;
  color: #868686;
  margin-left: 10px
}
.news-block__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  margin: 12px 0 auto;
  display: block
}
.news-block__data {
  display: block;
  font-size: 12px;
  line-height: 130%;
  margin-top: 12px;
  color: #868686
}
.news-block__btn {
  display: none;
  text-align: center
}
@media (max-width:1240px) {
  .news-block__item {
    width: calc(33.3333% - 24px)
  }
  .news-block__item:not(:nth-child(-n+3)) {
    display: none
  }
}
@media (max-width:1024px) {
  .news-block__head {
    margin-bottom: 30px
  }
  .news-block__item {
    width: calc(50% - 24px)
  }
  .news-block__item:not(:nth-child(-n+2)) {
    display: none
  }
}
@media (max-width:768px) {
  .news-block__head-link {
    display: none
  }
  .news-block__img img,
  .news-block__item {
    border-radius: 10px
  }
}
@media (max-width:500px) {
  .news-block__slider {
    margin: 0
  }
  .news-block__item {
    width: 70vw;
    margin: 0 10px
  }
  .news-block__item:not(:nth-child(1)) {
    display: none
  }
}
@media (max-width:479px) {
  .news-block__btn {
    display: inline-block;
    width: 100%;
    margin-top: 30px
  }
}