.product-content {
  padding: 30px 0 40px
}
.product-content.product-content_second {
  padding: 60px 0 120px
}
.product-content__tab {
  display: flex;
  align-items: center;
  margin-bottom: 32px
}
.product-content__tab .btn {
  transition: background-color .3s linear,color .3s linear,font-weight .3s linear;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between
}
.product-content__tab .btn::after {
  content: attr(data-text);
  content: attr(data-text)/"";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
  font-weight: 600
}
.product-content__tab .btn.btn_empty {
  font-weight: 400;
  color: #404040;
  border-color: #30b4ff
}
.product-content__tab .btn:not(:last-child) {
  margin-right: 10px
}
.product-content__tab .btn:active,
.product-content__tab .btn:hover {
  font-weight: 600;
  color: #fff;
  background-color: #30b4ff
}
.product-content__description:not(.is-active),
.product-content__reviews:not(.is-active) {
  display: none
}
.product-content__reviews-row {
  display: flex;
  flex-wrap: wrap;
  margin: -12px
}
.product-content__reviews-item {
  position: relative;
  width: calc(25% - 24px);
  margin: 12px
}
.product-content__reviews-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}
.product-content__reviews-icon svg {
  width: 60px;
  height: 60px
}
.product-content__reviews-name {
  position: absolute;
  left: 30px;
  bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #404040
}
.product-content__description-flex {
  display: flex
}
.product-content__more {
  margin-top: 10px;
  display: inline-block
}
.product-content__chapters {
  width: 100%;
  max-width: 312px
}
.product-content__chapters h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 16px
}
.product-content__chapters ul li {
  font-size: 14px;
  line-height: 130%;
  letter-spacing: .02em;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  list-style-type: disc
}
.product-content__chapters ul li span {
  margin-left: 10px
}
.product-content__chapters ul li strong {
  flex: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-weight: 500
}
.product-content__chapters a {
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: .02em;
  transition: color .3s linear;
  color: #30b4ff;
  display: flex;
  align-items: center
}
.product-content__chapters a svg {
  margin-left: 2px;
  width: 18px;
  height: 18px
}
.product-content__chapters a:hover:not(:active) {
  color: #038cdb
}
.product-content__main h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 16px
}
.product-content__main p {
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 24px
}
.product-content__main p:not(:last-child) {
  margin-bottom: 16px
}
.product-content__main ol {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  list-style-position: inside
}
.product-content__main ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 24px
}
.product-content__main ol li {
  font-size: 16px;
  line-height: 130%;
  text-align: left
}
.product-content__main ol li:not(:last-child) {
  margin-bottom: 16px
}
@media (min-width:769px) {
  .product-content__more {
    display: none
  }
  .product-content__main {
    margin-right: 24px
  }
  .product-content__main_second {
    margin-right: 0
  }
}
@media (max-width:1024px) {
  .product-content.product-content_second {
    padding: 30px 0 60px
  }
  .product-content__reviews-row {
    margin: -10px
  }
  .product-content__reviews-item {
    width: calc(33.333% - 20px);
    margin: 10px
  }
  .product-content__reviews-icon svg {
    width: 40px;
    height: 40px
  }
  .product-content__reviews-name {
    left: 20px;
    bottom: 20px
  }
  .product-content__description-flex {
    flex-wrap: wrap;
    flex-direction: column
  }
}
@media (max-width:768px) {
  .product-content__description-flex {
    display: block;
    position: relative
  }
  .product-content__description-flex:not(.is-show) {
    max-height: 1200px;
    overflow: hidden
  }
  .product-content__description-flex.is-hidden::after {
    content: ""
  }
  .product-content__description-flex::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg,rgba(20,166,213,0) 0,#fff 71%)
  }
  .product-content__chapters h2,
  .product-content__main h2 {
    font-size: 16px;
    margin-bottom: 8px
  }
  .product-content__main p {
    margin-bottom: 20px
  }
  .product-content__main ol li:not(:last-child) {
    margin-bottom: 10px
  }
}
@media (max-width:540px) {
  .product-content__reviews-row {
    margin: -5px
  }
  .product-content__reviews-item {
    width: calc(50% - 10px);
    margin: 5px
  }
}
@media (max-width:420px) {
  .product-content {
    padding: 0 0 20px
  }
  .product-content__tab {
    margin-bottom: 30px
  }
  .product-content__tab .btn {
    flex: auto
  }
  .product-content__more {
    width: 100%
  }
}
@media speech {
  .product-content__tab .btn::after {
    display: none
  }
}