.service-block {
  padding: 60px 0 120px
}
.service-block__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 40px
}
.service-block__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border: 1px solid #e2e3e5;
  border-radius: 15px;
  margin-bottom: 20px;
  overflow-wrap: break-word
}
.service-block__item:last-of-type {
  margin-bottom: 40px
}
.service-block__item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: .02em;
  margin-right: 40px;
  min-width: 320px
}
.service-block__item-text {
  max-width: 400px;
  margin-left: auto;
  margin-right: 40px;
  font-size: 14px;
  line-height: 130%
}
.service-block__btn {
  display: block;
  margin: 0 auto;
  max-width: 145px
}
@media (max-width:1240px) {
  .service-block__item-title {
    font-size: 20px
  }
}
@media (max-width:1024px) {
  .service-block {
    padding: 30px 0 60px
  }
  .service-block__title {
    margin-bottom: 30px
  }
  .service-block__item {
    flex-direction: column;
    align-items: flex-start
  }
  .service-block__item-title {
    margin-right: 0;
    min-width: initial
  }
  .service-block__item-text {
    margin: 16px 0 24px
  }
}
@media (max-width:768px) {
  .service-block__item {
    padding: 20px;
    border-radius: 10px
  }
  .service-block__btn {
    max-width: 225px
  }
}
@media (max-width:479px) {
  .service-block__item:last-of-type {
    margin-bottom: 30px
  }
  .service-block__item-btn {
    width: 100%
  }
  .service-block__btn {
    max-width: 100%
  }
}