.similar-products {
  padding: 40px 0 80px
}
.similar-products__container {
  background-color: #f8f8f8;
  padding: 60px 0
}
.similar-products__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 40px
}
.similar-products__row {
  display: flex;
  align-items: stretch;
  margin: 0 -12px
}
.similar-products__row .slick-dots {
  bottom: -40px
}
.similar-products__row .slick-dots button {
  display: none
}
.similar-products__row .slick-dots li {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #e2e3e5;
  transition: transform .3s linear
}
.similar-products__row .slick-dots li.slick-active {
  transform: scale(1.5);
  background-color: #30b4ff
}
.similar-products__item {
  display: block;
  width: calc(16.666% - 24px);
  margin: 0 12px
}
.similar-products__item:not(:nth-child(-n+6)) {
  display: none
}
.similar-products__img {
  display: block;
  margin-bottom: 15px
}
.similar-products__img img {
  border-radius: 8px
}
.similar-products__name {
  display: block;
  color: #404040;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: .02em
}
@media (max-width:1240px) {
  .similar-products__item {
    width: calc(20% - 24px)
  }
  .similar-products__item:not(:nth-child(-n+5)) {
    display: none
  }
}
@media (max-width:1024px) {
  .similar-products__item {
    width: calc(25% - 24px)
  }
  .similar-products__item:not(:nth-child(-n+4)) {
    display: none
  }
}
@media (max-width:768px) {
  .similar-products {
    padding: 30px 0 40px
  }
  .similar-products__container {
    padding: 40px 0
  }
  .similar-products__title {
    margin-bottom: 30px
  }
  .similar-products__row {
    margin: 0 -10px
  }
  .similar-products__row .slick-list {
    margin-bottom: 30px
  }
  .similar-products__item {
    width: calc(33.333% - 20px);
    margin: 0 10px
  }
  .similar-products__item:not(:nth-child(-n+3)) {
    display: none
  }
}
@media (max-width:540px) {
  .similar-products__row {
    margin: 0
  }
  .similar-products__item {
    width: 200px;
    margin: 0 10px
  }
  .similar-products__item:not(:nth-child(-n+2)) {
    display: none
  }
}