.type {
  padding: 60px 0
}
.type__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px
}
.type__title {
  color: #868686;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .32px;
  text-align: start
}
.type__title:first-of-type,
.type__title:last-of-type {
  width: 100%;
  max-width: 170px
}
.type__title:nth-child(2) {
  flex: auto;
  margin: 0 24px
}
.type__title:last-of-type {
  text-align: end
}
.type__item {
  display: flex;
  justify-content: space-between;
  padding: 16px 0
}
.type__item:first-child {
  padding: 0 0 16px
}
.type__item:last-child {
  padding: 16px 0 0
}
.type__item:not(:last-of-type) {
  border-bottom: 1px solid #e2e3e5
}
.type__col {
  width: 100%;
  max-width: 170px;
  display: flex;
  flex-direction: column
}
.type__sort {
  font-size: 16px;
  color: #30b4ff
}
.type__sort_mt {
  margin-top: 16px
}
.type__text {
  flex: auto;
  margin: 0 24px;
  color: #868686;
  font-size: 16px;
  text-align: start
}
.type__price {
  font-size: 16px;
  font-weight: 500;
  text-align: end
}
.type__price_mt {
  margin-top: 16px
}
@media (max-width:1024px) {
  .type {
    padding: 30px 0
  }
}
@media (max-width:992px) {
  .type__title:first-of-type,
  .type__title:last-of-type {
    max-width: 120px
  }
  .type__col {
    max-width: 120px
  }
}
@media (max-width:768px) {
  .type__top {
    margin-bottom: 16px
  }
  .type__top_second .type__title:nth-child(2) {
    max-width: 160px
  }
  .type__title:first-of-type,
  .type__title:last-of-type {
    max-width: 80px
  }
  .type__title:nth-child(2) {
    margin: 0 15px
  }
  .type__wrap_second .type__item .type__text {
    max-width: 160px
  }
  .type__col {
    max-width: 80px
  }
  .type__text {
    margin: 0 15px
  }
}
@media (max-width:479px) {
  .type__title:nth-child(2) {
    width: 100%;
    max-width: 160px
  }
  .type__text {
    width: 100%;
    max-width: 160px
  }
}
@media (max-width:415px) {
  .type__top_second .type__title:nth-child(2) {
    max-width: 100px
  }
  .type__wrap_second .type__item .type__text {
    max-width: 100px
  }
}
@media (max-width:368px) {
  .type__title:first-of-type,
  .type__title:last-of-type {
    max-width: 60px
  }
  .type__col {
    max-width: 60px
  }
}